@model Clinic_WebApp.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatFname" class="control-label"></label>
                <input asp-for="PatFname" class="form-control" />
                <span asp-validation-for="PatFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatLname" class="control-label"></label>
                <input asp-for="PatLname" class="form-control" />
                <span asp-validation-for="PatLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatBirthDate" class="control-label"></label>
                <input asp-for="PatBirthDate" class="form-control" />
                <span asp-validation-for="PatBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatTelNo" class="control-label"></label>
                <input asp-for="PatTelNo" class="form-control" />
                <span asp-validation-for="PatTelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
